<?xml version="1.0"?>
<robot name="carritov2">

  <link name="chasis1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="2 1.2 0.5"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <link name="chasis2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.5 0.4 0.05"/>
      </geometry>
      <material name="aluminium"/>
      <origin rpy="0 0 0" xyz="0.72 0 0.275"/>
    </visual>
  </link>

  <joint name="chasis1_to_chasis2" type="fixed">
    <parent link="chasis1"/>
    <child link="chasis2"/>
  </joint>

  <link name="soporte1_base1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.95 0 0.34"/>
    </visual>
  </link>

  <joint name="soporte1_base1_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte1_base1"/>
  </joint>

  <link name="soporte1_base2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0 0.34"/>
    </visual>
  </link>

  <joint name="soporte1_base2_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte1_base2"/>
  </joint>

  <link name="soporte2_base1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.95 0.07 0.34"/>
    </visual>
  </link>

  <joint name="soporte2_base1_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte2_base1"/>
  </joint>

  <link name="soporte2_base2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0.07 0.34"/>
    </visual>
  </link>

  <joint name="soporte2_base2_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte2_base2"/>
  </joint>

  <link name="soporte3_base1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.95 0.14 0.34"/>
    </visual>
  </link>

  <joint name="soporte3_base1_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte3_base1"/>
  </joint>

  <link name="soporte3_base2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0.14 0.34"/>
    </visual>
  </link>

  <joint name="soporte3_base2_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte3_base2"/>
  </joint>

  <link name="soporte4_base1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.95 -0.14 0.34"/>
    </visual>
  </link>

  <joint name="soporte4_base1_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte4_base1"/>
  </joint>

  <link name="soporte4_base2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 -0.14 0.34"/>
    </visual>
  </link>

  <joint name="soporte4_base2_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte4_base2"/>
  </joint>

  <link name="soporte5_base1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.95 -0.07 0.34"/>
    </visual>
  </link>

  <joint name="soporte5_base1_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte5_base1"/>
  </joint>

  <link name="soporte5_base2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 -0.07 0.34"/>
    </visual>
  </link>

  <joint name="soporte5_base2_to_chasis2" type="fixed">
    <parent link="chasis2"/>
    <child link="soporte5_base2"/>
  </joint>

  <link name="chasis3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.8 0.35 0.05"/>
      </geometry>
      <material name="aluminium"/>
      <origin rpy="0 0 0" xyz="0.35 0.39 0.275"/>
    </visual>
  </link>

  <joint name="chasis1_to_chasis3" type="fixed">
    <parent link="chasis1"/>
    <child link="chasis3"/>
  </joint>

  <link name="soporte1_base3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.02 0.53 0.34"/>
    </visual>
  </link>

  <joint name="soporte1_base3_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte1_base3"/>
  </joint>

  <link name="soporte1_base4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.43 0.53 0.34"/>
    </visual>
  </link>

  <joint name="soporte1_base4_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte1_base4"/>
  </joint>

  <link name="soporte2_base3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.055 0.46 0.34"/>
    </visual>
  </link>

  <joint name="soporte2_base3_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte2_base3"/>
  </joint>

  <link name="soporte2_base4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.505 0.46 0.34"/>
    </visual>
  </link>

  <joint name="soporte2_base4_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte2_base4"/>
  </joint>

  <link name="soporte3_base3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.13 0.39 0.34"/>
    </visual>
  </link>

  <joint name="soporte3_base3_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte3_base3"/>
  </joint>

  <link name="soporte3_base4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.58 0.39 0.34"/>
    </visual>
  </link>

  <joint name="soporte3_base4_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte3_base4"/>
  </joint>

  <link name="soporte4_base3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.205 0.32 0.34"/>
    </visual>
  </link>

  <joint name="soporte4_base3_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte4_base3"/>
  </joint>

  <link name="soporte4_base4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.655 0.32 0.34"/>
    </visual>
  </link>

  <joint name="soporte4_base4_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte4_base4"/>
  </joint>

  <link name="soporte5_base3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.30 0.25 0.34"/>
    </visual>
  </link>

  <joint name="soporte5_base3_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte5_base3"/>
  </joint>

  <link name="soporte5_base4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.73 0.25 0.34"/>
    </visual>
  </link>

  <joint name="soporte5_base4_to_chasis3" type="fixed">
    <parent link="chasis3"/>
    <child link="soporte5_base4"/>
  </joint>

  <link name="chasis4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.8 0.35 0.05"/>
      </geometry>
      <material name="aluminium"/>
      <origin rpy="0 0 0" xyz="0.35 -0.39 0.275"/>
    </visual>
  </link>

  <joint name="chasis1_to_chasis4" type="fixed">
    <parent link="chasis1"/>
    <child link="chasis4"/>
  </joint>

  <link name="soporte1_base5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.02 -0.53 0.34"/>
    </visual>
  </link>

  <joint name="soporte1_base5_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte1_base5"/>
  </joint>

  <link name="soporte1_base6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.43 -0.53 0.34"/>
    </visual>
  </link>

  <joint name="soporte1_base6_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte1_base6"/>
  </joint>

  <link name="soporte2_base5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.055 -0.46 0.34"/>
    </visual>
  </link>

  <joint name="soporte2_base5_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte2_base5"/>
  </joint>

  <link name="soporte2_base6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.505 -0.46 0.34"/>
    </visual>
  </link>

  <joint name="soporte2_base6_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte2_base6"/>
  </joint>

  <link name="soporte3_base5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.13 -0.39 0.34"/>
    </visual>
  </link>

  <joint name="soporte3_base5_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte3_base5"/>
  </joint>

  <link name="soporte3_base6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.58 -0.39 0.34"/>
    </visual>
  </link>

  <joint name="soporte3_base6_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte3_base6"/>
  </joint>

  <link name="soporte4_base5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.205 -0.32 0.34"/>
    </visual>
  </link>

  <joint name="soporte4_base5_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte4_base5"/>
  </joint>

  <link name="soporte4_base6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.655 -0.32 0.34"/>
    </visual>
  </link>

  <joint name="soporte4_base6_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte4_base6"/>
  </joint>

  <link name="soporte5_base5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.28 -0.25 0.34"/>
    </visual>
  </link>

  <joint name="soporte5_base5_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte5_base5"/>
  </joint>

  <link name="soporte5_base6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.0741666666667" ixy="0.0" ixz="0.0" iyy="0.0585416666667" iyz="0.0" izz="0.0260416666667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.02 0.08"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.73 -0.25 0.34"/>
    </visual>
  </link>

  <joint name="soporte5_base6_to_chasis4" type="fixed">
    <parent link="chasis4"/>
    <child link="soporte5_base6"/>
  </joint>



  <!--<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>-->

  <gazebo>
    <static>true</static>
  </gazebo>

</robot>